<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/global.css" />
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
  </head>

  <body>
    <div id="header">
      <ul>
        <li>
          <div class="report"><a href="/day">일일</a></div>
        </li>
        <li>
          <div class="report"><a href="/week">주</a></div>
        </li>
        <li>
          <div class="report"><a href="/month">월</a></div>
        </li>
        <li>
          <div class="report"><a href="/quater">분기</a></div>
        </li>
        <li>
          <div class="report"><a href="/year">년</a></div>
        </li>
      </ul>
    </div>
    <h1>Index</h1>
  </body>
</html>
